/* You can add custom CSS and override boostrap styles in this file.  Remember, bootstrap is just CSS at the end of the day! */

#hero-section {
  /* This should be an image. */
  background-color: aqua;
  background: url(img/Banner2.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Change this values to work for you. */
  padding: clamp(100px, 20vh, 200px) 0;
}

#profile-img {
  /* Change this values to work for you. */
  margin: clamp(10px, 20vh, 100px) auto;

  /* This should be an image */
  background-image: url(img/LeeLee.jpg);
  background-size: 100%;
 
  border-radius: 100px;
  border-style: solid;
  border-color: #343A40;
  border-width: 7px;

  /* Change this values to work for you. */
  height: clamp(100px, 20vh, 200px);

  /* Change this values to work for you. */
  width: clamp(100px, 20vh, 200px);
} 

#hero-section h2 {
  /* How to center text? */
  color: #DDDDDD;
  text-align: center;
  font-size: 30px;
  /* Add responsive vertical margins via clamp? come back to this. */
}

#hero-section p{
  color: #DDDDDD;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}

#mission-section{
background-color: turquoise;
font-size: 22px;
}

#skills-section{
 background-color: turquoise;
}

#inspiration-section{
  background-color: turquoise;
}
#contact-section{
  background-color: turquoise;
}
footer{
  background-color: aquamarine;
}

section{
  min-height: 40vh;
  border: 2px solid grey;
}

#contact-section{
  margin: center;
  text-align: center;
  font-size: clamp(1rem, 10vw, 2rem);
}

.carousel-caption *{
  text-shadow: 1px 1px 2px pink;
}

.navbar img{
  height: 50px;
}

.navbar{
  background-color: aquamarine !important;
}

.carousel-inner img{
  height: 900;
  width: 600;
}

#contact-section{
  text-align: center;
}